<<<<<<< HEAD
div {
	text-align: center;
}
h1 {
	font-family: "Source Sans Pro", sans-serif;
}
p {
	background-image: 
=======
div {
	text-align: center;
}
h1 {
	font-family: "Source Sans Pro", sans-serif;
}
p {
	background-image: 
>>>>>>> origin/master
}